/**
 * CSS Reset
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}

/** 
 * Fix common issue with flex ellipsis 
 */
* {
  min-width: 0;
}

/**
 * Fix alignment of svgs
 */
svg {
  display: inline-block;
}

/**
 * Text selection color
 */
::selection {
  color: white;
  background: var(--primary-color);
}

/**
 * General
 */
p {
  line-height: 1.9;
}
pre {
  margin: 0;
}
html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
}
input,
textarea {
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
input::placeholder,
textarea::placeholder {
  /* color: rgba(255, 255, 255, 0.3); */
}
a {
  text-decoration: none;
  color: inherit;
}

/**
 * Hyperfy
 */

/* font (latin) */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url(/rubik.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* disable scroll bounce */

:root {
  overscroll-behavior: none;
}

/* fix common issue with flex ellipsis */

* {
  min-width: 0;
}

/* fix alignment of svgs */

svg {
  display: inline-block;
}

/* text selection */

::selection {
  color: white;
  background: black;
}

/* hide scrollbar */

.noscrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* general */

p {
  line-height: 1.9;
}

pre {
  margin: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  background-color: black;
  color: white;
}

input,
textarea {
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
